/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
body {
	background-color: black !important;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-HTML {
	color: white;
}
.WhiteText {
	color: white !important;
	background-color: black !important;
}
.chat_table {
	border-collapse: collapse;
	margin: 0px !important;
	padding: 0px !important;

}
.chat_table TD {
	border-left: 1px dashed #555;
	color: white;
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.scroll_list {
	background-color: black;
	margin: 0px !important;
	padding: 0px !important;
}
.raw {
	border-top: 1px solid white;
	background-color: black !important;
	color: white !important;
	border: 0px;
}
.login {
	color: black;
}
.disconnect {
	border: 2px solid white !important;
	color: white;
	background-color: #555 !important;	
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	margin: 1px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.disconnect:hover {
	color: yellow;
}
.title_panel {
	border-bottom: 1px solid white;
	height: 25px;
}
.tab_panel {
	margin: 0px !important;
	padding: 0px !important;
}